.certification-block {
  display: block;
  width: 100%;
  height: 100%;
}
.options {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  gap: 20px;
}

.options button {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  color: white;
  background-color: darkgreen;
  border: none;
}

.options a {
  padding: 0;
}

.options button:hover {
  cursor: pointer;
}

.cert {
  display: block;
  width: 500PX;
}

.cert input {
  width: 455px;
  padding: 10px 20px;
}

.cert_content {
  width: 100%;
  height: 500px;
  display: block;
  justify-items: center;
  align-content: center;
}

.cert button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: darkgreen;
  color: white;
}