.certification-block {
  display: block;
  width: 100%;
  height: 100%;
}
.options {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  gap: 20px;
}

.options button {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  color: white;
  background-color: darkgreen;
  border: none;
}

.options a {
  padding: 0;
}

.options button:hover {
  cursor: pointer;
}

.cert_content {
  display: block;
  justify-items: center;
  padding: 50px 0;
}

.cert-title {
  margin: 0 0 20px 0;
}

.cert {
  display: block;
  width: 500PX;
  font-size: 16px;
  text-align: left;
}

.appointment, .clearance {
  display: block;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.help_text {
  font-size: 14px;
  text-align: left;
}

.cert input {
  width: 455px;
  padding: 10px 20px;
}

.cert button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: darkgreen;
  color: white;
}

.cert button:hover {
  cursor: pointer;
}