{% extends 'accounts/dashboard.html' %}
{% load static %}

{% block title %}Appointments{% endblock %}

{% block content %}
<style>
    .btn--danger:hover {
        text-decoration: none !important;
    }
</style>
<div class="appointments_center" style="display: flex; justify-content: center;">
{% if appointments %}
    <div class="user_appointments">
        <div class="appointment_title">
            <div>Certificate Type</div>
            <div>Appointment Date</div>
            <div>Appointment Time</div>
            <div>Purpose</div>
            <div>Status</div>
            <div>Actions</div>
        </div>
        {% for appointment in appointments %}
            <div class="appointment_content">
                <div>{{ appointment.get_certificate_type_display }}</div>
                <div>{{ appointment.preferred_date }}</div>
                <div>{{ appointment.preferred_time }}</div>
                <div>{{ appointment.purpose }}</div>
                {% if appointment.status == 'pending' %}
                <div class="status pending">Pending</div>
                    {% elif appointment.status == 'approved' %}
                        <div class="status approved">Approved</div>
                    {% elif appointment.status == 'completed' %}
                        <div class="status completed">Completed</div>
                    {% elif appointment.status == 'cancelled' %}
                        <div class="status cancelled">Cancelled</div>
                    {% endif %}
                <div>
                    <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn--danger {% if appointment.status == 'cancelled' %}disabled-link{% endif %}">Cancel</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>You have no upcoming appointments.</div>
{% endif %}
 </div>

{% endblock %}
