{% extends 'appointments/certification.html' %}
{% load static %}

{% block title %}Certification | Barangay Clearance{% endblock %}

{% block cert_content %}

    <div class="cert-title">Barangay Clearance</div>
    <form class="cert" method="post">
        {% csrf_token %}
        <div class="appointment">
            <div class="title">Appointment Details</div>
            <label for="{{ appointment_form.appointment_date.id_for_label }}">Appointment Date</label>
            <div>
                {{ appointment_form.appointment_date }}
            </div>
            <label for="{{ appointment_form.appointment_time.id_for_label }}">Appointment Time</label>
            <div>
                {{ appointment_form.appointment_time }}
            </div>
            <label for="{{ appointment_form.purpose.id_for_label }}">Purpose</label>
            <div>
                {{ appointment_form.purpose }}
            </div>
            <div class="help_text">
                {{ appointment_form.purpose.help_text }}
            </div>
        </div>
        <div class="clearance">
            <div class="title">Personal Details</div>
            <label for="{{ clearance_Form.civil_status.id_for_label }}">Civil Status</label>
            <div>
                {{ clearance_form.civil_status }}
            </div>
            <label for="{{ clearance_Form.citizenship.id_for_label }}">Citizenship</label>
            <div>
                {{ clearance_form.citizenship }}
            </div>
        </div>
        <button type="submit">Book</button>
    </form>

{% endblock %}