{% extends 'base.html' %}
{% load static %}

{% block title %}Certification Request Form | Barangay OACMS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'appointments/css/certification.css' %}">
{% endblock %}

{% block content %}
<div class="certification-outer">
  <div class="certification-box">
    <h2 class="cert-title">Appointment Form</h2>

    <form method="POST" class="cert-form">
      {% csrf_token %}

      <div class="row row-top">
        <div class="field first">
          <label for="first_name">First Name</label>
          <input id="first_name" name="first_name" type="text" required>
        </div>

        <div class="field second">
          <label for="last_name">Last Name</label>
          <input id="last_name" name="last_name" type="text" required>
        </div>
      </div>

      <div class="row row-mid">
        <div class="field email">
          <label for="email">E-mail</label>
          <input id="email" name="email" type="email" required>
        </div>

        <div class="field date">
          <label for="date">Date</label>
          <input id="date" name="date" type="date" required>
        </div>

        <div class="field time">
          <label for="time">Time</label>
          <input id="time" name="time" type="time" required>
        </div>
      </div>

      <div class="row row-full">
        <div class="field full">
          <label for="purpose">Purpose of Appointment</label>
          <textarea id="purpose" name="purpose" rows="3" required></textarea>
        </div>
      </div>

      <div class="form-action">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
