{% extends 'accounts/staff_dashboard.html' %}
{% load static %}

{% block title %}Staff Appointments{% endblock %}

{% block content %}

{% if appointments %}
    <div class="user_appointments">
        <div class="appointment_title">
            <div>Resident Name</div>
            <div>Certificate Type</div>
            <div>Appointment Date</div>
            <div>Appointment Time</div>
            <div>Purpose</div>
            <div>Status</div>
        </div>
        {% for appointment in appointments %}
            <div class="appointment_content">
                <div>{{ appointment.user.get_full_name }}</div>
                <div>{{ appointment.certificate_type.name }}</div>
                <div>{{ appointment.appointment_date }}</div>
                <div>{{ appointment.appointment_time }}</div>
                <div>{{ appointment.purpose }}</div>
                <div class="status">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                        <button name="is_completed" value="True" type="submit">
                            {% if appointment.is_completed %}
                            <p class="approved">Approved</p>
                            {% else %}
                            <p class="pending">Approve</p>
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>You have no upcoming appointments.</div>
{% endif %}

{% endblock %}

