{% extends 'accounts/staff_dashboard.html' %}
{% load static %}

{% block title %}Staff Appointments{% endblock %}

{% block content %}

<div class="appointments_center" style="display: flex; justify-content: center;">
{% if appointments %}
    <div class="user_appointments">
        <div class="appointment_title">
            <div>Resident Name</div>
            <div>Certificate Type</div>
            <div>Appointment Date</div>
            <div>Appointment Time</div>
            <div>Purpose</div>
            <div>Status</div>
        </div>
        {% for appointment in appointments %}
            <div class="appointment_content">
                <div>{{ appointment.resident.resident.first_name }} {{ appointment.resident.resident.last_name }}</div>
                <div>{{ appointment.get_certificate_type_display }}</div>
                <div>{{ appointment.preferred_date }}</div>
                <div>{{ appointment.preferred_time }}</div>
                <div>{{ appointment.purpose }}</div>
                <div class="status">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="appointment_id" value="{{ appointment.id }}">

                        {% if appointment.status == 'pending' %}
                            <button type="submit" class="pending">Approve</button>
                        {% elif appointment.status == 'approved' %}
                            <button type="submit" class="approved">Approved</button>
                        {% elif appointment.status == 'completed' %}
                            <a class="completed" disabled>Completed</a>
                        {% elif appointment.status == 'cancelled' %}
                            <a class="cancelled" disabled>Cancelled</a>
                        {% endif %}
                    </form>


                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>You have no upcoming appointments.</div>
{% endif %}
</div>

{% endblock %}

