body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.container {
    padding: 20px 50px 20px 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px 3px gray;
    margin-bottom: 20px;
}

.logo-appbar {
    display: flex;
    width: fit-content;
}

.logo-appbar img {
    width: 80px;
}

.logo-appbar:hover {
    cursor: pointer;
}

.appbar {
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.appbar ul {
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 40px;
}

a {
    text-decoration: none;
    color: black;
    padding: 2px 5px;
}

li:hover {
    transform: translateY(-10%);
}

.auth {
    margin-top: 40px;
}

.auth ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.cert-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.content {
    overflow-y: auto;
    text-align: center;
    align-content: center;
    justify-items: center;
    font-size: 40px;
    height: auto;
}

