{% extends 'accounts/index.html' %}
{% load static %}

{% block title %}{{ user.last_name }} | Dashboard{% endblock %}

{% block appbar %}
    <ul>
        <li><a href="{% url 'dashboard' %}">HOME</a></li>
        <li><a href="{% url 'barangay_clearance' %}">CERTIFICATIONS</a></li>
        <li><a href="{% url 'appointments' %}">APPOINTMENTS</a></li>
    </ul>

{% endblock %}

{% block user %}
<div>{{ user.first_name }} {{ user.last_name }}</div>
{% endblock %}


{% block content %}

<div class="title-welcome">
    <h1>Welcome, {{ user.first_name }}!</h1>
</div>

{% endblock %}