{% extends 'accounts/index.html' %}
{% load static %}

{% block title %}{{ user.resident.last_name }} | Dashboard{% endblock %}

{% block appbar %}
    <ul>
        <li><a href="{% url 'dashboard' %}" {% if request.resolver_match.url_name == 'dashboard' %}aria-current="page"{% endif %}>HOME</a></li>
        <li><a href="{% url 'certification' %}" {% if request.resolver_match.url_name == 'certification' or request.resolver_match.url_name == 'create_appointment' %}aria-current="page"{% endif %}>CERTIFICATIONS</a></li>
        <li><a href="{% url 'appointments' %}" {% if request.resolver_match.url_name == 'appointments' or request.resolver_match.url_name == 'appointment_detail' %}aria-current="page"{% endif %}>APPOINTMENTS</a></li>
    </ul>

{% endblock %}

{% block user %}
<div>{{ user.resident.first_name }} {{ user.resident.last_name }}</div>
{% endblock %}


{% block content %}

<div class="title-welcome">
    <h1>Welcome, {{ user.resident.first_name }}!</h1>
</div>

{% endblock %}