{% extends "accounts/index.html" %} 
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-login">

        {% for message in messages %}
            <p class="messages">{{ message }}</p>
        {% endfor %}

    <p class="form-title">Login</p>
    <form method="post" action="{% url 'login' %}">

        {% csrf_token %} 

        <div class="form-group">

            <label class="email_label" for="id_email">Email</label>
            {{ form.username }} 

        </div>

        <div class="form-group">

            <label class="password_label" for="id_password">Password</label>
            {{ form.password }} 

        </div>

        <div class="form-action">

            <button type="submit">Login</button>

        </div>

        {% if form.errors %}
        <div class="error-message">
            <p>*Your username or password didn't match.</p>
        </div>
        {% endif %}

    </form>
</div>
{% endblock content %}