{% extends "accounts/index.html" %}
{% load static %}

{% block title %}BOACMS | Barangay Office{% endblock %}

{% block appbar %}

    <ul>
        <li><a href="{% url 'staff_dashboard' %}" {% if request.resolver_match.url_name == 'staff_dashboard' %}aria-current="page"{% endif %}>HOME</a></li>
        <li><a href="{% url 'staff_appointments' %}" {% if request.resolver_match.url_name == 'staff_appointments' %}aria-current="page"{% endif %}>APPOINTMENTS</a></li>
    </ul>

{% endblock %}

{% block user %}
<div>Barangay Office</div>
{% endblock %}

{% block content %}
    <div class="title-welcome">
        <h1>Office of the Barangay</h1>
    </div>
{% endblock %}