{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Barangay OACMS{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="images/png" href="{% static 'images/logo.png' %}">
    </head>
    <body>
        <div class="container">
            <div class="logo"><a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" />
            </a></div>
            {% if user.is_authenticated %}
                <div class="appbar">
                    <ul>
                        <li><a href="{% url 'dashboard' %}">HOME</a></li>
                        <li><a href="#">APPOINTMENTS</a></li>
                        <li><a href="#">CERTIFICATIONS</a></li>
                    </ul>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <details class="profile-dropdown">
                        <summary>
                            {% if user.role == 'resident' %}
                                <div>
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>
                            {% else %}
                                <div>
                                    Barangay Office
                                </div>
                            {% endif %}
                            <div>
                                <img class="dropdown-icon" src="{% static 'images/dropdown.png' %}">
                            </div>
                        </summary>
                        <button type="submit" class="logout">Logout</button>
                    </select>
                </form>
            {% else %}
            <div class="auth">
                <ul>
                    <li class="login"><a href="{% url 'login' %}">LOGIN</a></li>
                    <li class="register"><a href="{% url 'register' %}">REGISTER</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="content">

            <div class="content-block">

            {% block content %}
                
                <!-- BLOCK CONTENT -->

            {% endblock %}

            </div>

        </div>
    </body>
</html>