.messages {
    color: green;
    font-size: 20px;
    text-align: center;
}

.form-group-container {
    display: flex;
    gap: 20px;
}

.form-group {
    text-align: left;
    font-size: 15px;
}

.form-group label {
    font-size: 15px;
    display: block;
    text-align: left;
    margin-top: 20px;
}

.form-group input {
    font-size: 20px;
    padding: 10px;
    width: 400px;
}

.form-action {
    margin-top: 40px;
    display: flex;
}

.form-action button {
    color: white;
    background-color: #050;
    border: none;
    width: 100%;
    height: 40px;
}

.form-action button:hover {
    cursor: pointer;
    background-color: #565;
}

.form-title {
    font-size: 50px;
    font-weight: bold;
}

.error-message {
    font-size: 15px;
    color: red;
    text-align: left;
}

/* Dashboard */
.profile-dropdown {
    margin-top: 35px;
}

.profile-dropdown summary {
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
    width: fit-content;
    justify-content: center;
    color: darkgreen;
}

.profile-dropdown summary:hover {
    cursor: pointer;
}

.dropdown-icon {
    width: 18px;
    color: darkgreen;
}

a {
    margin: 0;
    padding: 0;
}

.dropdown-button {
    position: absolute;
}

.dropdown-button button, .dropdown-button a div {
    padding: 10px 20px;
    background-color: white;
    text-align: left;
    border: none;
    width: 200px;
    font-size: 14px;
}

.dropdown-button a div {
    width: 160px;
}

.dropdown-button button:hover, .dropdown-button a div:hover {
    cursor: pointer;
    border: 1px solid black;
    padding: 9.5px 19px;
}

.form-profile {
    display: block;
    min-width: 200px;
}

.form-profile input {
    width: 250px;
    padding: 10px 20px;
}

.form-profile button {
    width: 100%;
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
}

.form-profile button:hover {
    background-color: #3f6a3f;
    cursor: pointer;
}

.message {
    color: darkgreen;
    font-size: 14px;
}




